{% load static %}
<!DOCTYPE html>
<html lang="en"  dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMM | Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    

</head>

<body>
    <header>
        <div class="Navcontainer">
          <div class="logo-box">
            <a href="index.html">
              <img src="{% static 'LMM Final Logo.png' %}" style="width: 200px;">
            </a>
          </div>
          <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">Match Maker</a></li>
            <li><a href="">lectures</a></li>
            <li><a href="">About</a></li>
            <li><button class="Signer"><a class="SignerFont" href="signUp.html">Sign Up/In</a></button></li>
         </ul>
        </nav>
        </div>
    </header>

    <div class="stretcher" style="width:auto; padding:20px; margin:75px; margin-top: 150px;">
      <div>
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}

    <script src="{% static 'script.js' %}"></script>
</body>
</html>