{% extends 'base.html' %}
{% block content %}


<div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:px-12 lg:py-16">

    <section class="glass dark:bg-gray-900 overflow-hidden rounded-t-xl border-2 border-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">MatchMaker: Personal</h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Answer these personal questions about yourself in the form below</p>
        </div>
    </section>
    
    <div class="w-full bg-white shadow dark:bg-gray-800 dark:border-gray-700">
        <div class= "p-6 md:p-8 lg:p-16">    
            <form class="text-md text-gray-500 dark:text-white" action="#" method="POST">

                <div class="grid bg-white grid-cols-1 md:grid-cols-2 gap-6">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'age' %}
                            <div class="flex flex-col">
                                <label for="{{ field.id_for_label }}" class="block">Your Age</label>
                                {{ field }}
                                <p class="text-sm"><span id="selfAgeSlider">18</span> years</p>
                            </div>
                        {% elif field.name == 'body_type' %}
                            <div class="relative">
                                {{ field }}
                            </div>
                        {% elif field.name == 'weight' %}
                            <div class="flex flex-col">
                                <label for="{{ field.id_for_label }}" class="block">Your Weight</label>
                                {{ field }}
                                <p class="text-sm"><span id="selfWeightSlider">0</span> lb</p>
                            </div>
                        {% elif field.name == 'height' %}
                            <div class="flex flex-col">
                                <label for="{{ field.id_for_label }}" class="block">Your Height</label>
                                {{ field }}
                                <p class="text-sm"><span id="selfHeightSlider" class="text-sm text-gray-500">0</span> ft</p>
                            </div>
                        {% elif field.name == 'is_muslim' %}
                            <div class="flex flex-col">
                                <p>Are you Muslim?</p>
                                <div class="flex pt-2">
                                    {% for choice in field %}
                                        <div class="flex items-center mr-4">
                                            {{ choice.tag }}
                                            <label for="{{ choice.id_for_label }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ choice.choice_label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        <div class="flex flex-col" id="muslimTypeDiv" style="display: none;">
                            <p>What type of Muslim?</p>
                            <div class="flex pt-2">
                                {% for choice in form.muslim_type %}
                                    <div class="flex items-center mr-4">
                                        {{ choice.tag }}
                                        <label for="{{ choice.id_for_label|lower }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ choice.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex flex-col" id="convertDiv" style="display: none;">
                            <p>Are you a convert or were you born Muslim?</p>
                            <div class="flex pt-2">
                                {% for choice in form.is_converted %}
                                    <div class="flex items-center mr-4">
                                        {{ choice.tag }}
                                        <label for="{{ choice.id_for_label|lower }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ choice.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% elif field.name == 'convert_time' %}
                            <div class="relative" id="convertTime" style="display: none;">
                                {{ field }}
                            </div>
                        {% elif field.name == 'prayers' %}
                            <div class="relative">
                                {{ field }}
                            </div>
                        {% elif field.name == 'masjid' %}
                            <div class="relative">
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6">Next</button>
            </form>
        </div>
    </div>

</div>

<script>
                    var yesRadioButton = document.getElementById("id_is_muslim_0");
                    var muslimTypeDiv = document.getElementById("muslimTypeDiv");
                    var convertDiv = document.getElementById("convertDiv");
                    var convertTime = document.getElementById("convertTime");
                    
                    yesRadioButton.addEventListener("click", function() {
                        muslimTypeDiv.style.display = "block";
                    });
                    
                    var muslimTypeRadios = document.querySelectorAll('input[name="muslim_type"]');
                    for (var i = 0; i < muslimTypeRadios.length; i++) {
                        muslimTypeRadios[i].addEventListener("click", function() {
                            convertDiv.style.display = "block";
                        });
                    }
                    
                    var noRadioButton = document.getElementById("id_is_muslim_1");
                    noRadioButton.addEventListener("click", function() {
                        muslimTypeDiv.style.display = "none";
                        convertDiv.style.display = "none";
                        convertTime.style.display = "none";
                        clearRadioSelection('muslim_type');
                        clearRadioSelection('is_converted');
                        clearSelectSelection('id_convert_time');
                    });
                    
                    var birthRadioButton = document.getElementById("id_is_converted_0");
                    birthRadioButton.addEventListener("click", function() {
                        convertTime.style.display = "none";
                        clearSelectSelection('id_convert_time');
                    });
                    
                    var convertRadioButton = document.getElementById("id_is_converted_1");
                    convertRadioButton.addEventListener("click", function() {
                        convertTime.style.display = "block";
                    });
                    
                    function clearRadioSelection(radioGroupName) {
                        var radioButtons = document.getElementsByName(radioGroupName);
                        for (var i = 0; i < radioButtons.length; i++) {
                            radioButtons[i].checked = false;
                        }
                    }
                    
                    function clearSelectSelection(selectId) {
                        var select = document.getElementById(selectId);
                        select.selectedIndex = 0;
                    }
</script>

<script> <!-- Age Slider -->
     // Get the slider element
    var slider = document.getElementById("self-age");
    // Get the element to display the slider value
    var sliderValueElement = document.getElementById("selfAgeSlider");
        
    // Update the value display when the slider value changes
    slider.addEventListener("input", function() {
        // Update the text content of the display element
        sliderValueElement.textContent = slider.value;
    });
</script>

<script> <!-- Weight Slider -->
    var weightSlider = document.getElementById("self-weight");
    var weightSliderValueElement = document.getElementById("selfWeightSlider");
    weightSlider.addEventListener("input", function() {
        weightSliderValueElement.textContent = weightSlider.value;
    });
</script>

<script> <!-- Height Slider -->
    var heightSlider = document.getElementById("self-height");
    var heightSliderValueElement = document.getElementById("selfHeightSlider");
    heightSlider.addEventListener("input", function() {
    var feet = Math.floor(heightSlider.value / 12);
    var inches = heightSlider.value % 12;
    heightSliderValueElement.textContent = feet + '"';
    if (inches !== 0) {
        heightSliderValueElement.textContent += " " + inches;
    }
    });
</script>


{% endblock content %}