{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    <h1>Welcome!</h1>
    <p>Don't forget to read the<br>terms/conditions</p>
    

        <div>
            <form action="#" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                      
                <div>
                    <label class="not-member" for="terms">I agree to the <a href="#terms">terms and conditions</a></label>
                    <input type="checkbox" style="height:auto; width: auto;" required>
                </div>

                <button class="input-field field" type="submit" style="margin: 12px 0 8px 0;">Sign Up</button>
            </form>
            <label class="not-member" for="terms">Already have an account? <a href="#">Sign In</a></label>
    </div>




</div>

<div class="wrapper" id="terms" style="width:auto; padding:20px; margin:75px; margin-top: 150px;">
    
    <div><a style="font-size:6vw; text-align: center;">Terms and Conditions</a></div>

    <div>
    <a style="font-size:2vh;">
        <li>Applicants must be at least 18 years old at registration.</li>
        <li>Applicants must have legal status in the country</li>
        <li>Applicants must provide all necessary information and are responsible for its accuracy</li>
        <li>Applicants must provide one or more credible references to validate the supplied information</li>
        <li>Applicants must pay the subscription fee</li>
        <li>Applicants must complete the questionnaire without mentioning any information that could lead to their identification</li>
        <li>It is strictly prohibited to provide misleading or disrespectful answers to the questionnaire</li>
        <li>Any member may voluntarily end their membership at any time. However, refunds will not be provided</li>
        <li>ICNA Matchmaking Service is not responsible for what may happen between the two parties during or after the subscription service</li>
        <li>ICNA Matchmaking Service does not guarantee to succeed in finding me a suitable partner for marriage</li>
        <li>No members have access to information that can identify other members. We carefully protect this information and will never disclose it</li>
        <li>The site is well protected against any kind of intrusion</li>
        <li>Therefore, you must protect your access username and password</li>
    </a>
    </div>

</div>

    {% endblock content %}
  

        

